Checks: [
      bugprone*,
      clang-analyzer*,
      misc*,
      modernize*,
      performance*,
      readability*,
      portability-restrict-system-includes,

      -bugprone-easily-swappable-parameters,
      -clang-analyzer-optin*,
      -misc-non-private-member-variables-in-classes,
      -misc-use-anonymous-namespace,
      -modernize-concat-nested-namespaces,
      -modernize-deprecated-headers,
      -modernize-macro-to-enum,
      -modernize-use-trailing-return-type,
      -readability-identifier-length,
      -readability-isolate-declaration,
      -readability-magic-numbers,
      -readability-named-parameter,
      -readability-uppercase-literal-suffix,
      -readability-use-anyofallof
]
WarningsAsErrors: '*'
